/* Text */
h1, h2, h3 , h4, h5, h6 {
  font-family: 'Anton', sans-serif;
}
p {
  font-family: 'Jura', sans-serif;
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
/* mouse over link for links in Contact Section */
a:hover {
  color: rgb(63, 2, 2); !important
}

img {
  width: 100%;
  height: auto;
}

/* Navigation bar */

/* General */
.customNav {
  position:relative;
  width: 100%;
 /* background: url("../images/transparency.png"); */
  background-color: rgba(238, 240, 240, 0.863) !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  /* padding-right: 2px;*/
  width: 80px;
  
}

/* hover effect on navbar */
.nav-link:focus, .nav-link:hover {
   background: rgb(20, 20, 247);!important */
}
.nav-item {
  margin: 0px 15px;
}

/* Navigation dropdown menu */
.dropdown-menu {
  background: url("../images/transparency.png"); 
  background-size: cover;
  background-color: rgb(219, 240, 245)!important;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background: rgb(76, 76, 77);
}

/* Navigation links */
.customNav a {
  color: rgb(14, 14, 14) !important;
}
.navCTA {
  font-size: 15px;
  
}
.btn {
  background-color: lightblue;
  color: black;
}
/*boxes will display shadow on hover*/
.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
body {
  background-color: rgb(219, 240, 245);
}
/* Jumbotron  */

.portfolioBackground {
  background-image: url(./images/portfolioBg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(60vh - 25px);
  display: flex;
  max-width:100%;
  word-wrap: break-word;
  
}

.profilePic {
  
  display: flex;
  align-content: flex-start;
  align-items:baseline;
  width: 100%;
  object-fit: cover;
}

/* Jumbotron copy */
.jumboCopy {
  display: flex;
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  min-width: fit-content;
  max-width: fit-content;
  color: rgb(9, 10, 10);
  align-content: flex-start;
  align-items: center;
  max-width:100%;
  word-wrap: break-word;
}

/* STYLES FOR TEMPLATE PLEASE DO NOT TOUCH*/
.dropdown-menu {
  left: -97px;
}


/* to make sure that all images have the same height */
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.card {
  margin: 0 auto;
}

.contact-section {
  text-align: centre;
  padding-top: 5rem;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 400px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #2306c7;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}