/* Text */
h1, h2, h3 , h4, h5, h6 {
  font-family: 'Anton', sans-serif;
}
p {
  font-family: 'Jura', sans-serif;
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

img {
  width: 100%;
  height: auto;
}

/* Navigation bar */

/* General */
.customNav {
  position:relative;
  width: 100%;
 /* background: url("../images/transparency.png"); */
  background-color: rgba(238, 240, 240, 0.863) !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  /* padding-right: 2px;*/
  width: 80px;
}
.nav-item {
  margin: 0px 15px;
}

/* Navigation dropdown menu */
.dropdown-menu {
  background: url("../images/transparency.png"); 
  background-size: cover;
  background-color: rgb(219, 240, 245)!important;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background: rgb(76, 76, 77);
}

/* Navigation links */
.customNav a {
  color: rgb(14, 14, 14) !important;
}
.navCTA {
  font-size: 15px;
  
}
.btn {
  background-color: lightblue;
  color: black;
}
body {
  background-color: rgb(219, 240, 245);
}
/* Jumbotron  */

.portfolioBackground {
  background-image: url(./images/portfolioBg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(60vh - 25px);
  display: flex;
  max-width:100%;
  word-wrap: break-word;
  
}

.profilePic {
  
  display: flex;
  align-content: flex-start;
  align-items:baseline;
  width: 100%;
  object-fit: cover;
}

/* Jumbotron copy */
.jumboCopy {
  display: flex;
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  min-width: fit-content;
  max-width: fit-content;
  color: rgb(9, 10, 10);
  align-content: flex-start;
  align-items: center;
  max-width:100%;
  word-wrap: break-word;
}

/* STYLES FOR TEMPLATE PLEASE DO NOT TOUCH*/
.dropdown-menu {
  left: -97px;
}


/* to make sure that all images have the same height */
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.card {
  margin: 0 auto;
}

.contact-section {
  text-align: centre;
  padding-top: 5rem;
}
